<template>
  <div class="menu" @click="handleClick($event)">
    <button
      class="menu__button"
      v-for="(item, index) in $store.state.menuItems"
    >
      {{ item }}
    </button>
  </div>
</template>

<script>
import { ref, computed, createApp } from "vue";
import { useStore } from "vuex";

const count = ref(0);

export default {
  setup() {
    function handleClick(e) {
      const menuChilds = e.target.parentElement.children;
      Array.from(menuChilds).map((item) => (item.style.background = "none"));
      if (e.target)
        if (e.target.tagName === "BUTTON") {
          e.target.style.background = "#F3475B";
        }
    }

    return {
      handleClick,
    };
  },
};
</script>

<style lang="scss">
.menu {
  margin-top: 18px;
  color: #000;

  &__button {
    font-family: inherit;
    color: #ffffff;
    border: none;
    background: none;
    border-radius: 8px;
    padding: 8px 20px;
    margin-right: 14px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      cursor: pointer;
      background: #f47685 !important;
    }

    &:nth-child(1) {
      background: #f3475b;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
