@import "./variables.scss";
@font-face {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 700;
    src: local('Golos Text'), local('Golos Text'), url('../assets/fonts/Golos-Text_Regular.woff2') format('woff2'), url('../assets/fonts/Golos-Text_Regular.woff') format('woff');
}

body {
    background: $main-background-color;
    font-family: Golos;
}