<script setup>
import Menu from "./components/Menu.vue";
</script>

<template>
  <div class="app">
    <h1 class="app__title">{{ $store.state.title }}</h1>
    <Menu msg="Hello Vue 3 + Vite" />
  </div>
</template>

<style lang="scss">
.app {
  max-width: 1338px;
  margin: 0 auto;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;

    color: #ffffff;
  }
}
</style>
